<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestion des Interventions</title>
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="/text/css" href="js/select.dataTables.min.css">
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/gIntervention.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/sweetalert2/sweetalert2.css}">
  <script th:inline="javascript">
    var myVar = 'Valeur par défaut';
  </script>
</head>

<body>

  <head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
    <th:block th:replace="fragments/_modalsIntervention.html::modalsIntervention"></th:block>
  </head>

  <div class="container-scroller">
    <th:block th:replace="/fragments/_header.html::header"></th:block>
    <div class="container-fluid page-body-wrapper">
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <th:block th:replace="/fragments/_navGestInt.html::navGestInt"></th:block>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <input type="text" id="session-matricule" class="d-none" th:value="${session.matricule}" />
                  <input type="text" id="session-type" class="d-none" th:value="${session.authorithies[0].authority}" />
                  <h3 class="font-weight-bold">Bienvenue <span th:text="${session.name}"></span></h3>
                  <h6 class="font-weight-normal mb-0">Profitez de votre systeme de gestion des interventions en quelques
                    clicks.
                </div>
                <div class="col-12 col-xl-4">
                  <div class="justify-content-end d-flex">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                      <button class="btn btn-sm btn-light bg-white m-2" type="button">
                        <i class="bi bi-calendar"></i> <span id="currentDate"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="./images/dashboard/people.png" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>27<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Eyang</h4>
                        <h6 class="font-weight-normal">Cameroun</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Interventions non prises en charge</p>
                      <p class="fs-30 mb-2" id="int-np">4006</p>
                      <p id="p-int-np">10.00%</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Interventions finalisées</p>
                      <p class="fs-30 mb-2" id="int-fin">61344</p>
                      <p id="p-int-fin">22.00%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Interventions en cours de traitement</p>
                      <p class="fs-30 mb-2" id="int-nt">34040</p>
                      <p id="p-int-nt">2.00%</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Interventions rejetées</p>
                      <p class="fs-30 mb-2" id="int-rjt">47033</p>
                      <p id="p-int-rjt">0.22%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span id="currentYear" class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a
                href="https://www.institutsaintjean.org/" target="_blank">ISJ-ENT</a>.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">INGE4-ISI<i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
      </div>
    </div>
    <th:block th:replace="fragments/_modalsIntervention.html::modalsIntervention"></th:block>


  </div>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <script th:inline="javascript">
    var token = /*[[${matricule}]]*/ 'valeur_par_defaut';
    var matricule = /*[[${matricule}]]*/ 'valeur_par_defaut';
    var type = $("#session-type").val();
    var path = "http://localhost:9090/api/interventions/";
    var datas;

    // date actuelle
    var currentDateElement = document.getElementById("currentDate");
    var dateActuelle = new Date();
    var joursSemaine = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
    var moisAnnee = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
    var jourSemaine = joursSemaine[dateActuelle.getDay()];
    var jourMois = dateActuelle.getDate();
    var mois = moisAnnee[dateActuelle.getMonth()];
    var annee = dateActuelle.getFullYear();
    var dateFormatee = jourSemaine + ' le ' + jourMois + ', ' + mois + ' ' + annee;
    currentDateElement.textContent = dateFormatee;

    // annee actuelle
    var currentYearElement = document.getElementById("currentYear");
    currentYearElement.textContent += " " + annee;

    // statistique sur le dashboard
    var begin = 0;
    var total = [0, 0, 0, 0];
    var pourcent = [0, 0, 0, 0];


    var tabtotal = ["int-np", "int-fin", "int-nt", "int-rjt"];
    var tabpourcent = ["p-int-np", "p-int-fin", "p-int-nt", "p-int-rjt"];
    // affichage des donnees
    for (let i = 0; i < 4; i++) {
      $("#" + tabtotal[i]).text(total[i]);
      $("#" + tabpourcent[i]).text(pourcent[i].toFixed(2) + " %");
    }
    type == "Admin" ? path += "Liste/Departement/" + matricule : path += "Liste/etudiant/" + matricule
    console.log(type, path);
    $(function () {
  $.ajax({
    url: path,
    type: 'GET',
    success: function (response) {
      datas = response;
      var total = [0, 0, 0, 0];
      var pourcent = [0, 0, 0, 0];

      for (let i = 0; i < datas.length; i++) {
        if (datas[i].statut == "nonTraite") {
          total[0]++;
        } else if (datas[i].statut == "traite") {
          total[1]++;
        } else if (datas[i].statut == "enCours") {
          total[2]++;
        } else {
          total[3]++;
        }
      }
      var totalCount = datas.length;
      for (let i = 0; i < total.length; i++) {
        pourcent[i] = ((total[i] / totalCount) * 100).toFixed(2); // Calcul des pourcentages
      }

      for (let i = 0; i < 4; i++) {
        $("#" + tabtotal[i]).text(total[i]+"/"+totalCount);
        $("#" + tabpourcent[i]).text(pourcent[i] + " %"); // Affichage des pourcentages
      }
      // Calcul des pourcentages ou autre traitement ici
    },
    error: function (xhr, status, error) {
      console.error('La requête a échoué avec le statut ' + status);
    }
  });
});

// setInterval(makeAjaxRequest, 1000);



  </script>
  <script src="/js/creerIntervention.js"></script>
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <script src="/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/Chart.roundedBarCharts.js"></script>
  <script th:src="@{/sweetalert2/sweetalert2.all.js}"></script>
  <script th:src="@{/sweetalert2/sweetalert2.js}"></script>

  <script>
  </script>
</body>

</html>